html, body{
    margin: 0;
    padding: 0;
    font-family: cursive "sans-serif";
    font-size: 1.5rem;


}

.header{
    height: 20vh;
    width: 100vw;
    border: 1px dashed black;
    position: fixed;
}

#dialog{
    width: 400px;
    border-radius: 10%;
}

.form{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    flex: 1;
    height: 100%;
}

.grid-cards{
    display: grid;
    grid-template-columns: repeat(autofit, minmax(400px, 1fr));
    gap: 15px;

}

.grid-cards > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;

}